@model List<CitasApp.Models.Paciente>
<h1>Pacientes registrados</h1>
<a asp-action="AgregarMedico" class="btn btn-primary">+ Agregar nuevo médico</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">← Volver al menú</a>
<br />
<br />
<table border="1" cellpadding="8">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Nombre @p.Apellido</td>
            <td>@p.Email</td>
            <td>@p.Telefono</td>
            <td><a asp-action="Detalle" asp-route-id="@p.Id">Ver detalle</a></td>
            <td><a asp-action="Eliminar" asp-route-id="@p.Id" class="btn btn-danger">Eliminar</a></td>
            <td><a asp-action="Editar" asp-route-id="@p.Id" class="btn btn-warning">Editar</a></td>
        </tr>
    }
</table>